@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  @apply scroll-smooth;
}

.wrapper{
  width: 100%;
  height: 100%;

  /* background-color: #F9F7F5; */
  background-color: #c8c4c1c8;
  /* background-color: #161616; */
}

.swiper-button-prev::after{
  content: "";
} .swiper-button-next::after{
  content: "";
}

img{
  object-position: 100% 56%;
}

